{% extends 'base.html' %}
{% load static %}
{% block title %} Order {% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'phome.css' %}" />
<link rel="stylesheet" href="{% static 'about.css' %}" />

{% endblock style %}

{% block body %}
<div class="product-filters">
    <h3>About us </h3>
    <div class="na">
        <span class="material-symbols-outlined"> copyright </span>
        <span></span>
    </div>
</div>


<div class="about-containers">

    <div class="about">
        <p>
            Welcome to {{website_name}}, where we're dedicated to delivering top-quality products and
            exceptional service to our valued customers. Since our inception in 2024, we've been
            committed to providing an unparalleled shopping experience that exceeds expectations.

        </p>

        <h4>Our Story</h4>

        <p>
            Our journey began with a simple idea: to offer premium products that enhance the lives of our customers.
            Founded by {{website_name}}, our company quickly gained traction in the market due to our unwavering
            dedication to quality and customer satisfaction. Over the years, we've evolved and expanded our product
            offerings while remaining true to our founding principles.
        </p>

        <h4>Our Mission</h4>
        <p>
            At {{website_name}}, our mission is clear: to enrich the lives of our customers by providing
            innovative products that inspire and delight. We believe in delivering excellence in everything we do, from
            the quality of our products to the level of service we provide. Our goal is to create lasting relationships
            with our customers built on trust, integrity, and mutual respect.
        </p>
        <h4>Our Values</h4>

        <p>
            Integrity, quality, and customer-centricity are at the heart of everything we do. We believe in
            transparency, honesty, and accountability in all our interactions. Our commitment to quality is unwavering,
            and we strive to exceed our customers' expectations at every opportunity. Sustainability and environmental
            responsibility are also core values, and we're continuously seeking ways to reduce our environmental
            footprint and contribute positively to the planet.

        </p>
        <h4> What We Offer </h4>

        <p>
            At {{website_name}}, we offer a diverse range of products carefully curated to meet the needs
            and preferences of our customers. From cutting-edge technology to timeless classics, we have something for
            everyone. Our products are sourced from trusted suppliers and undergo rigorous quality control to ensure
            they meet our stringent standards. Whether you're shopping for yourself or searching for the perfect gift,
            you'll find exactly what you need right here.
        </p>

        <h4> Our Team
        </h4>

        <p>
            Behind every successful business is a team of dedicated individuals who are passionate about what they do.
            At {{website_name}}, our team is comprised of talented professionals with diverse backgrounds
            and skill sets. From product development to customer service, each member plays a vital role in our success.
            Together, we work tirelessly to bring you the best shopping experience possible.
        </p>

        <h4> Customer Success Stories
        </h4>
        <p>
            The true measure of our success lies in the satisfaction of our customers. Over the years, we've had the
            privilege of serving thousands of happy customers who have shared their experiences with us. From glowing
            reviews to heartfelt testimonials, their stories inspire us to continue striving for excellence every day.
        </p>
        <h4> Our Commitment to Quality
        </h4>

        <p>
            Quality is the cornerstone of our business, and we spare no effort in ensuring that every product we offer
            meets the highest standards. From the materials we use to the craftsmanship that goes into each item,
            quality is non-negotiable. We stand behind the quality of our products and offer a satisfaction guarantee to
            ensure your complete peace of mind.
        </p>

        <h4>Get in Touch</h4>
        <p>
            We value your feedback and welcome your questions, comments, and suggestions. If you have any inquiries or
            need assistance, please don't hesitate to reach out to our friendly customer service team. You can contact
            us via email at {{support_email}} or by phone at {{support_phone}}. We're here to help and look forward to
            hearing from you.

        <p>
            Thank you for choosing {{website_name}}. We appreciate your support and trust in our brand.
            Happy shopping!

        </p>

        </p>
    </div>

</div>
{% endblock body %}
{% block script %}


{% endblock script %}