{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'alogin.css' %}" /> {% endblock style %}
{% block title %} Login {% endblock title %} {% block body %}

<div class="login-conatiner" style="min-height:100vh;">
  <div><h3 class="headers-logo">{{website_name}}</h3></div>

  <div class="loginmargin">
    <form class="login-sign-up-form" method="post">
      {% csrf_token %}
      <div class="form-header">Login </div>

      <div class="form-body">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Type your username"
        />
      </div>

      <div class="form-body">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="*********"
        />
      </div>

      <div class="form-body with-checkbox">
        <div class="checkboxdiv">
          <input
            class="checkbox"
            type="checkbox"
            id="checkbox"
            name="checkbox"
            checked
          />
        </div>
        <label for="checkbox">
          <span class="checkbox-text"
            >Creating an account means you’re okay with our
            <a href="/terms-and-conditions/" class="color-primary">Terms of Service</a> and
            <a href="/about-us/" class="color-primary">Privacy Policy</a> my
            preference</span
          >
        </label>
      </div>

      <div class="form-body">
        <input
          type="submit"
          name="submit"
          id="submit"
          value="Submit"
          class="submitbtn"
        />
      </div>
      <div class="form-body" style="margin-top: 5px;">
       <a href="/forgot-password/" class="donthave"
      >Forgot Password? <span style="text-decoration: underline; color: blueviolet;">Reset</span>
    </a>
      </div>
    </form>
  </div>
  <div class="divdonthave">
    <a href="/signup" class="donthave"
      >Don't have an account? <a href="/signup">Sign up</a>
    </a>
  </div>
</div>

{% endblock body %}
