{% extends 'base.html' %}
 {% load static %} 
 {% block title %} Password Reset {% endblock title %} {% block style %}
<link rel="stylesheet" href="{% static 'profile.css' %}" />

<link rel="stylesheet" href="{% static 'phome.css' %}" />
{% endblock style %} {% block body %}

<div class="profile-conatiner">
  <div><h3 class="headers-logo">Forgot Password</h3></div>

  <div class="profilemargin">
    <form class="profile-sign-up-form" method="post">
      {% csrf_token %}
      {% if not info %}
      <div class="form-header">Enter the email address associated with your account and we'll send you a link to reset your password.</div>

      <div class="form-body">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          value="{{request.user.email}}"
          placeholder="yourmail@example.com"
        />
      </div>

      
      <div class="form-body">
        <input
          type="submit"
          name="submit"
          id="submit"
          value="Submit"
          class="submitbtn"
        />
      </div>
      {% else %}
      <div class="form-header">
        <p>Thank you for your request. If your email is registered with us, You will receive an email with instructions on how to reset your password.</p>
      </div>

      {% endif %}
    </form>
  </div>
  <div class="divdonthave">
    <a href="/" class="donthave"
      > Go back to <a href="/">Home </a>
    </a>
  </div>
</div>
{% endblock body %}
