{% extends 'base.html' %}
 {% load static %} 
 {% block title %} Profile {% endblock title %} {% block style %}
<link rel="stylesheet" href="{% static 'profile.css' %}" />

<link rel="stylesheet" href="{% static 'phome.css' %}" />
{% endblock style %} {% block body %}

<div class="profile-conatiner">
  <div><h3 class="headers-logo">Edit Profile</h3></div>

  <div class="profilemargin">
    <form class="profile-sign-up-form" method="post">
      {% csrf_token %}
      <div class="form-header">Personal Information</div>

      <div class="form-body">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          value="{{user.username}}"
          placeholder="new username"
        />
      </div>

      <div class="form-body">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          value="{{user.email}}"
          placeholder="new Email"
        />
      </div>


      <div class="form-body">
        <label for="password">Confirm Your Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="*********"
        />
      </div>

      <div class="form-body">
        <input
          type="submit"
          name="submit"
          id="submit"
          value="Save Changes"
          class="submitbtn"
        />
      </div>
    </form>
  </div>
  <div class="divdonthave">
    <a href="/change-password/" class="donthave"
      > <p>If you'd like to change your password, <a href="/change-password/">click here</a>.</p>
    </a>
  </div>
</div>
{% endblock body %}
